<div class="container">
	<h2 class="page-header">Add Contact</h2>
	<form (submit)="addcont()">
		<div class="form-group">
			<label>First Name</label>
			<input type="text" name="firstname" [(ngModel)]="firstname" class="form-control" />
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" name="lastname" [(ngModel)]="lastname" class="form-control" />
		</div>
		<div class="form-group">
			<label>Phone</label>
			<input type="text" name="phone" [(ngModel)]="phone" class="form-control" required/>
		</div>
		<button type="submit" class="btn btn-success">Add</button>
	</form>	
</div>

<div class="container">
	<div *ngFor="let contact of contacts">
		<div class="col-md-3">
			<h4>{{contact.firstname}}</h4>
		</div>
		<div class="col-md-3">
			<h4>{{contact.lastname}}</h4>
		</div>
		<div class="col-md-3">
			<h4>{{contact.phone}}</h4>
		</div>
		<div class="col-md-3">
			<button class="btn btn-danger btn-xs" (click)="deletecont(contact._id)">Delete</button>
		</div>
	</div>
</div>